:root {
  --success-color: #2ecc71;
  --error-color: #AA0000;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}

h3 {
  text-align: center;
  /* margin: 0; */
}

form {
  padding: 10px 40px;
  --background-color: #f0f0f0;
}

.form-control {
  margin: 10px 0 10px 0;
  position: relative;
}

.form-control label {
  display: block;
  color: #777;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 10px;
}

.form-control input:focus {
  border-color: #777;
  outline: 1px solid #707070;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.err input {
  border-color: var(--error-color);
}

.form-control span {
  background-color: var(--background-color); /* 为了解决绝对定位元素覆盖问题，直接给 span 设置表单背景色，勉强解决（耦合性低）。*/
  visibility: hidden;
  color: var(--error-color);
  position: absolute;
  top: 0;
  left: 0;
}

.form-control.err span {
  visibility: visible;
}

.myForm button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.myForm button:hover {
  background-color: #2386c7;
  border-color: #237eb6;
}
